html {
    overflow-x: scroll;
}

/*header*/
header {
    padding: 15px 0;
    border-bottom: 2px solid #e6ecf3;
}

.head {
    overflow: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.logo {
    float: left;
}

img {
    max-width: 100%;
}

ul li {
    list-style-type: none;
}

.navbar ul {
    float: right;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    font-size: 20px;
    text-decoration: none;
    margin: 0 15px;
    display: inline-block;
    color: #0F2656;
}

.navbar ul li a:hover {
    color: #ee27cd
}

/*footer*/
footer {
    padding: 15px 15px;
    background-color: #008aff;
}

.foot {
    overflow: hidden;
}

.container2 {
    width: 90%;
    margin: 0 auto;
}

.f1 {
    text-align: center;
    margin: 10px auto;
    color: #6dc4ff;
}

.f1 p {
    color: #f4f3ff;
    display: inline-block;
}
